.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: inline-size;
  height: fit-content;
  padding: 12px;
  background-color: lightgreen;
  overflow: hidden;

  .container-left,
  .container-right {
    display: flex;
    flex: 0 0 auto;
  }

  .container-left,
  .container-right .ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .container-right {
    margin-right: 4px;
    margin-left: auto;
    gap: 0.5rem;
    border: 2px solid black;
  }
}
.firstbox {
  background-color: yellow;
}
.secondbox {
  background-color: red;
}
.thirdbox {
  background-color: orchid;
}
.forthbox {
  background-color: purple;
}
@container (max-width: 380px) {
  .thirdbox {
    display: none;
  }

  @container (max-width: 300px) {
    .secondbox {
      display: none;
    }

    @container (max-width: 50px) {
      .firstbox {
        display: none;
      }
    }
  }
}

/* Fix for mobiles */
html {
  -webkit-text-size-adjust: none; /* iOS Safari */
  -ms-text-size-adjust: none; /* IE Mobile */
}
